@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*---------------------------
共通設定
----------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: toppan-bunkyu-gothic-pr6n, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #000;
}

.t-center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-md {
  width: 1080px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  .container-md {
    width: 100%;
  }
}

.section-title {
  letter-spacing: 2px;
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 60px 0;
  font-weight: 400;
}

@media screen and (max-width: 760px) {
  .section-title {
    padding: 50px 0;
    font-size: 18px;
  }
}

/*---------------------------
ここからヘッダー
----------------------------*/
@media screen and (max-width: 1080px) {
  #gnav {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.6);
  }
  #gnav #gnav-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.sp-hamburger-btn {
  position: absolute;
  display: none;
}

@media screen and (max-width: 1080px) {
  .sp-hamburger-btn {
    display: inline-block;
    top: 20px;
  }
  .sp-hamburger-btn .sp-hamburger-menu {
    margin-left: 8px;
    min-width: 30px;
    height: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
  .sp-hamburger-btn .sp-hamburger-menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #888;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .sp-hamburger-btn .sp-hamburger-menu span:nth-of-type(1) {
    top: 0;
    right: 0;
  }
  .sp-hamburger-btn .sp-hamburger-menu span:nth-of-type(2) {
    top: 9px;
    width: 100%;
  }
  .sp-hamburger-btn .sp-hamburger-menu span:nth-of-type(3) {
    bottom: 4px;
  }
}

@media screen and (max-width: 760px) {
  .sp-hamburger-btn {
    top: 21px;
  }
}

#sp-hamburger-list {
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 49, 52, 0.9);
  list-style: none;
  text-align: center;
  font-size: 18px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  visibility: hidden;
}

#sp-hamburger-list li {
  border-bottom: 1px solid gray;
  letter-spacing: 4px;
}

#sp-hamburger-list li a {
  padding: 25px 0;
  color: #fff;
  display: block;
  font-size: 14px;
}

#sp-hamburger-list.open {
  visibility: visible;
  opacity: 1;
}

.close span:nth-of-type(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  top: 10px !important;
}

.close span:nth-of-type(2) {
  opacity: 0;
}

.close span:nth-of-type(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  top: 10px !important;
}

.sp-menu-btn {
  display: none;
}

@media screen and (max-width: 1080px) {
  .sp-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 8px auto 0;
    position: absolute;
    right: 0;
    top: 10px;
  }
}

@media screen and (max-width: 760px) {
  .sp-menu-btn {
    top: 16px;
  }
}

#gnav-logo {
  margin: 40px 0;
}

#gnav-logo a img {
  width: 20%;
}

@media screen and (max-width: 1080px) {
  #gnav-logo {
    margin: 0;
    width: 100%;
    line-height: 70px;
  }
  #gnav-logo a img {
    width: 200px;
  }
}

@media screen and (max-width: 760px) {
  #gnav-logo {
    line-height: 60px;
  }
  #gnav-logo a img {
    width: 120px;
  }
}

#gnav-menu {
  padding: 0 20px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1080px) {
  #gnav-menu {
    display: none;
  }
}

.gnav-menu-list li a {
  display: block;
  text-align: center;
  color: #000;
  padding: 8px 29px;
  letter-spacing: 4px;
}

.gnav-menu-list li a:hover {
  opacity: 0.6;
}

.gnav-menu-list li a p {
  font-size: 12px;
  margin-top: 8px;
  letter-spacing: 3px;
}

.gnav-menu-btn {
  margin: 8px 0;
}

#search-btn,
#cart-btn {
  display: block;
  background-color: #000;
  height: 40px;
  width: 40px;
  position: relative;
}

#search-btn:hover,
#cart-btn:hover {
  opacity: 0.7;
}

#search-btn img,
#cart-btn img {
  position: absolute;
  height: 65%;
  width: 65%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 760px) {
  #search-btn,
  #cart-btn {
    max-height: 30px;
    max-width: 30px;
  }
}

@media screen and (max-width: 1080px) {
  #cart-btn {
    margin-left: 8px;
  }
}

/*---------------------------
ここからスライダー
----------------------------*/
.slider {
  width: 100%;
  margin: 0 auto;
}

.slider li {
  margin: 0 10px;
}

.slider img {
  width: 100% !important;
  min-width: 100%;
  height: auto;
}

@media screen and (max-width: 1080px) {
  .slider li {
    margin: 0;
  }
}

.slick-list {
  -webkit-box-shadow: 0 4px 15px -6px gray;
          box-shadow: 0 4px 15px -6px gray;
}

.slick-prev {
  left: 0;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-next {
  right: 0px;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.slick-next:before {
  background: url(../top-img/arrow-right.png) !important;
  background-size: contain !important;
}

.slick-prev:before {
  background: url(../top-img/arrow-left.png) !important;
  background-size: contain !important;
}

.slick-slider {
  margin-bottom: 0 !important;
}

.slick-dots {
  bottom: 8px;
}

/*---------------------------
ここからフッター
----------------------------*/
#footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 270px;
}

@media screen and (max-width: 1080px) {
  #footer-wrapper {
    grid-auto-rows: 40%;
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  #footer-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
}

.footer-columns {
  letter-spacing: 1px;
}

.footer-columns:nth-child(even) {
  margin-left: 25px;
}

.footer-columns:nth-child(odd) {
  margin-right: 25px;
}

.footer-columns h3 {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 760px) {
  .footer-columns:nth-child(even) {
    margin-left: 0;
  }
  .footer-columns:nth-child(odd) {
    margin-right: 0;
  }
}

.footer-columns-details {
  text-align: left;
  padding: 20px 40px 20px 40px;
  line-height: 22px;
}

.footer-columns-details ul {
  list-style-type: disc;
}

.footer-columns-details ul li {
  margin-left: 1.5em;
}

@media screen and (max-width: 760px) {
  .footer-columns-details {
    padding: 20px 20px 40px 20px;
  }
  .footer-columns-details:nth-child(even) {
    margin-left: 0;
  }
  .footer-columns-details:nth-child(odd) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */